BOBCAT_HOSTNAME=fancy-awesome-bobcat
BOBCAT_ANIMAL=fancy-awesome-bobcat
BOBCAT_DRY_RUN=TRUE
BOBCAT_VERBOSE=FALSE
BOBCAT_TRACE=FALSE
BOBCAT_LOCK_FILE=/etc/bobcat/autopilot.lock
BOBCAT_STATE_FILE=/etc/bobcat/autopilot.json
BOBCAT_LOG_FILE=/var/log/bobcat/autopilot.log
BOBCAT_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/
BOBCAT_LOG_LEVEL_CONSOLE=DEBUG
BOBCAT_LOG_LEVEL_FILE=DEBUG
BOBCAT_LOG_LEVEL_DISCORD=DEBUG