[tool.poetry]
name = "bobcat-miner"
version = "0.8.0"
authors = ["Aidan Melen <aidanmelen@protonmail.com>"]
license = "MIT"
description = "A collection of command line tools to automate the Bobcat miner. The project offers a robust python SDK's for interacting with the Bobcat miner."
readme = "README.md"
homepage = "https://github.com/aidanmelen/bobcat-miner-python"
repository = "https://github.com/aidanmelen/bobcat-miner-python"
keywords = ["helium", "bobcat", "miner"]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.27.0"
backoff = "^1.11.1"
filelock = "^3.4.2"
discord-lumberjack = "^1.0.4"
click = "^8.0.3"

[tool.poetry.scripts]
bobcat = "bobcat_miner.cli:cli"

[tool.poetry.dev-dependencies]
black = "^21.12b0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"